[submodule "submodules/interpreter"]
	path = submodules/interpreter
    url = https://github.com/SOSML/SOSML.git
    branch = exp
[submodule "submodules/webworker"]
	path = submodules/webworker
    url = https://github.com/SOSML/SOSML-webworker.git
    branch = legacy
