.rootPage {
    height: stretch;
    min-height: calc(100vh - 55px);
    flex-direction: column;
    display: flex;
}

.flexcomponent {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.flexy {
    flex: 1 0 auto;
}

.miniSpacer {
    display: inline-block;
    margin-left: 0.4em;
}

.footer {
    padding-right: 10px;
    text-align: right;
}

body {
    padding-top: 55px;
}

body.fullscreen {
    padding-top: 3px;
    height: calc(100vh - 3px);
    min-height: calc(100vh - 3px);
}

body.fullscreen .footer {
    display: none;
}

body.fullscreen nav {
    display: none;
}

.form-control, .btn-group-sm>.btn, .btn-sm, .btn-default, .btn, .alert,
.modal-content, .navbar-toggle {
    border-radius: 0;
}

input {
    border: 1px solid;
}

input[type=checkbox] {
    -webkit-appearance: none;
    border: 1px solid;
    box-shadow: none;
    padding: 5px;
    border-radius: 0px;
    display: inline-block;
    position: relative;
}
input[type=checkbox]:checked:after {
    content: 'on';
    font-size: 10px;
    position: absolute;
    top: -1px;
    left: -1px;
}

.table {
    margin-bottom: 0;
}

.table .table {
    background-color: unset;
}

.table-hover>tbody>tr.no-hover:hover {
    color: unset;
    background-color: unset;
}

.table>tbody>tr>td {
    vertical-align: middle;
}

.modal-header {
    border-bottom: none;
    padding-bottom: 0;
}

.modal-footer {
    padding: 0;
    margin-right: -.5px;
    margin-bottom: -.5px;
    border-top: none;
}

.modal-content {
    box-shadow: none;
}

a {
    font-weight: bold;
}

.footer a {
    font-weight: normal;
}

.tooltip.right .tooltip-arrow {
    visibility: hidden;
}

.tooltip.right {
    margin: 0;
}

.tooltip-inner {
    max-width: none;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    font-size: 13px;
}
